@using System.Data;
@{
    ViewBag.Title = "GetRating";
    Layout = null;

    DataSet dsRating = new DataSet();
    if (ViewBag.dsRating != null)
    {
        dsRating = ViewBag.dsRating;
    }
}

<div style="max-width: 80%;">
    @if (dsRating != null && dsRating.Tables.Count > 0 && dsRating.Tables[0].Rows.Count > 0)
    {
        <table>
            <tr>
                <th style="width: 200px; min-width: 200px; max-width: 200px;background-color: #d0f1ef; text-align: center;">Rating</th>
                @*<th style="width: 100px; min-width: 100px; max-width: 100px;background-color: #d0f1ef; text-align: center;">Weightage</th>*@
            </tr>
            @for (int m = 0; m < dsRating.Tables[0].Rows.Count; m++)
            {
                <tr>
                    <td style="width: 200px; min-width: 200px; max-width: 200px;">
                        @dsRating.Tables[0].Rows[m]["RatingOptions"].ToString()
                    </td>
                    @*<td style="width: 100px; min-width: 100px; max-width: 100px;word-wrap:break-word">
                        @dsRating.Tables[0].Rows[m]["Weightage"].ToString()
                    </td>*@
                </tr>
            }
        </table>
    }
</div>