/* ------------------------------------------------------------------------------
*
*  # Form Validation
*
*
* ---------------------------------------------------------------------------- */
.error {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #F44336;
    position: relative;
    
}



    .error:before{
        font-family: "icomoon";
        font-size: 1rem;
        position: absolute;
        top: 0.12502rem;
        left: 0;
        display: inline-block;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }



.field-validation-error {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #F44336;
    position: relative;
    
}



    .field-validation-error:before{
				
        font-family: "icomoon";
        font-size: 1rem;
        position: absolute;
        top: 0.12502rem;
        left: 0;
        display: inline-block;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


.field-validation-valid
{
    display: none;
}


.popover { pointer-events: none; }




/* ------------------------------------------------------------------------------




    /*------------Flashing Menu---------------------*/

.button-flash {


    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        background-color: darkred;
        -webkit-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: darkred;
        -webkit-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: darkred;
        -webkit-box-shadow: 0 0 3px #B20000;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: darkred;
        -moz-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: darkred;
        -moz-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: darkred;
        -moz-box-shadow: 0 0 3px #B20000;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: darkred;
        box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: darkred;
        box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: darkred;
        box-shadow: 0 0 3px #B20000;
    }
}

@keyframes glowing {
    0% {
        background-color: darkred;
        box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: darkred;
        box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: darkred;
        box-shadow: 0 0 3px #B20000;
    }
}



/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

    .ripple:hover {
        background: grey radial-gradient(circle, transparent 1%, grey 1%) center/15000%;
    }

    .ripple:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }


/* Ripple effect added to span inside table and increasing size of badges */

tbody .badge {
    font-size: 100%;
    background-position: center;
    transition: background 0.8s;
}


    tbody .badge:hover {
        background: grey radial-gradient(circle, transparent 1%, grey 1%) center/15000%;
    }


    tbody .badge:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }


.ripple2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}




.ripple2:before {
    content: '';
    background-color: black;
    border-radius: 20%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
}

.ripple2:focus {
    outline: 0;
    color: #FF0000;
}

    .ripple2:focus:before {
        -webkit-animation: effect_dylan 0.8s ease-out;
        animation: effect_dylan 0.8s ease-out;
    }

@-webkit-keyframes effect_dylan {
    50% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
        opacity: 0;
    }

    99% {
        -webkit-transform: scale(0.001, 0.001);
        transform: scale(0.001, 0.001);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(0.001, 0.001);
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}

@keyframes effect_dylan {
    50% {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
        opacity: 0;
    }

    99% {
        -webkit-transform: scale(0.001, 0.001);
        transform: scale(0.001, 0.001);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(0.001, 0.001);
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}


/* Ripple effect End*/


/* ---------------------------------------------------------------------------------------------------*/






    
    /*------------data table overiding responsive cell not working don't know why commenting in component.min..Forcing control here---------------------*/




/*.dtr-inline.collapsed tbody tr td:first-child,
.dtr-inline.collapsed tbody tr th:first-child {
    position: relative;
  
}*/





/* ---------------------------------------------------------------------------------------------------*/


.col>span {
    word-break: break-all;
}

.col > p {
    word-break: break-all;
}



.fa-lg {
    font-size: 2em;
    line-height: .75em;
    vertical-align: -15%;
}


/* Pulse effect start*/




@media (max-width: 575.98px) {
    .navbar-expand-sm .navbar-nav-link .pulse:not(.position-static) {
        position: static;
    }
}



@media (min-width: 700px) {
    .navbar-nav-link .pulse {
        position: absolute;
        top: 0;
        right: 0;
    }
    .pulse {
        padding-right: .4375rem;
        padding-left: .4375rem;
        border-radius: 10rem;
        height: 5em;
        width: 5em;
        z-index: 10;
        border: 5px solid red;
        display: inline-block;
        padding: .3125rem .375rem;
        font-size: 75%;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        animation: pulse 1.5s ease-out infinite;
    }
    @keyframes pulse {
        0% {
            -webkit-transform: scale(0);
            opacity: 0.0;
        }

        25% {
            -webkit-transform: scale(0.1);
            opacity: 0.1;
        }

        50% {
            -webkit-transform: scale(0.5);
            opacity: 0.3;
        }

        75% {
            -webkit-transform: scale(0.8);
            opacity: 0.5;
        }

        100% {
            -webkit-transform: scale(1);
            opacity: 0.0;
        }
    }
}





.bell {
 
    animation: pop 1.5s ease-out infinite;
}

@keyframes pop {
    0% {
        color: #F44336;
        transform: scale(1);
    }

    

  
}


/* Pulse effect Ends*/


.ribbon2 {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.6667;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.3125rem 0;
    left: -0.6875rem;
    top: 1.563rem;
    width: 9.375rem;
    z-index: 10;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




/*documents stats on hover increase icon size*/


.docstats {
    transition: all 1s ease-in-out;
}



.docstats:hover .btn {
    transform: scale(1.3);
}




