@using System.Data
@{
    Layout = null;
    DataSet dsAuditor = ViewBag.objAudit;
    ISOStd.Models.clsGlobal obj = new ISOStd.Models.clsGlobal();
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Auditor List</h4>

    </div>

    <div class="card-body">

        <table class="table table-bordered table-striped table-hover datatable-responsive">
            <thead>
                <tr class="bg-brown">
                    <th>Auditor Name</th>
                    <th>Auditor Level</th>
                    <th>Contact No</th>
                    <th>Email Id</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < dsAuditor.Tables[0].Rows.Count; i++)
                {

                    <tr>
                        <td>
                            @(dsAuditor.Tables[0].Rows[i]["auditor_name"].ToString())
                        </td>
                        <td>
                            @obj.GetAuditorLevelById(dsAuditor.Tables[0].Rows[i]["auditor_level"].ToString())
                        </td>            
                        <td>
                            @(dsAuditor.Tables[0].Rows[i]["contact_no"].ToString())
                        </td>
                        <td>
                            @(dsAuditor.Tables[0].Rows[i]["email_address"].ToString())
                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>

</div>



