<html xmlns="http://www.w3.org/1999/xhtml">  
  
<head>  
    <title></title>  
</head>  
  
<body>

    <table>

        <tr>

            <td>

                <img src="http://www.flexiflocorp.com/imgs/flexiflo-logo.gif" width="250px" height="60px" />
                <br />
                <br />

                <div style="border-top: 3px solid #22BCE5"></div>

                <span style="font-family: Arial; font-size: 10pt">Hello <b>{UserName}</b>,<br />

                    <br />

                    <a style="color: #22BCE5" href="{Url}">{Title}</a><br />
                     <br />
                    <table class="table">
                        {content} 												
                    </table>
                    {message}  
                     <br />
                    {extramessage}
                    <br />
                    <br />
                    <br />

                    Thanks<br />
                    <b>ISO MSME</b><br />
                    AL Manal Managment System<br />
                    Electra Street, Abu Dhabi U.A.E<br />
                    Tel: +971 2 6436206<br />
                    Fax: +971 2 6436207<br />
                    Mob: +971 56 4452823<br />
                    Email Id: msmesupport@almanalmgt.com<br />
                </span>

            </td>

        </tr>

    </table>

</body>  
  
</html> 