<!DOCTYPE html>
<html>
<body>

    <div>
        <table style="width:100%;">
            <tr>
                <td style="width:15%">
                    <p style="text-align:center"><img src="../../Images/companylogo.png" alt="Test Image" style="width:100px;height:100px;" /></p>
                </td>
                <td>
                    <p style="text-align:center;font-size:x-large">
                        <b>                         
                            Discrepancy Report
                        </b>
                    </p>
                </td>
            </tr>

        </table>

    </div>

</body>
</html>