@charset utf-8;
@font-face{font-family:Tahoma;src:url(../fonts/tahoma.ttf);}
html,body{height:100%;width:100%;font-family:Tahoma;background:#fff;}
*{margin:0;padding:0;}
a,input,.ui-tabs .ui-tabs-nav li a{border:none;outline:none;cursor:pointer;text-decoration:none;font-family:Tahoma, Geneva, sans-serif, Arial;}
input[type=text],input[type=password]{cursor:text;}
input[type=submit],input[type=button],.loginContent a.blueBtn,a.button,.btnSect a.blueBtn{cursor:default;}
img{border:none;}
input::-moz-focus-inner{border:none;}
h1,h2,h3,h4,h5,h6{font-weight:700!important;}
#container{width:100%;position:relative;height:auto!important;min-height:100%;float:left;padding-bottom:15px;z-index:999;}
#header *,#footer *,#menu *,.breadCrumb,.breadCrumb *,#header,#menu,.packDetails p,.approveAccnt .editSect span small,.licensePopup #modal .updateTkt .updateSect span small,.alertMsg{float:left;font-size:13px;}
#header{width:100%;background:url(../images/header-repeat.png) 0 0 repeat-x;height:60px;padding:10px 0;}
#header h1 a{background:url(../images/header-logo.png) 0 0 no-repeat;height:54px;width:180px;font-size:0;}
.content{width:970px;float:none!important;word-wrap:break-word;margin:0 auto;}
#menu{width:100%;background:url(../images/menu-repeat.png) 0 0 repeat-x;height:43px;}
.footer,.push{height:67px;}
#footer{width:100%;background:url(../images/footer-repeat.png) 0 0 repeat-x;height:67px;padding-top:10px;position:relative;float:left;}
.loginOuter{float:left;width:100%;margin:7% 0;}
.loginBox{width:376px;margin:0 auto;}
.loginHeader{background:url(../images/login_header.png) no-repeat scroll 0 0 transparent;width:378px;height:69px;}
.loginHeader h2{color:#fff;padding:20px 0 10px 25px;}
.loginContent{background:#EDEBEC url(../images/login_white_bar.png) top center no-repeat;border-bottom:1px solid #C3C3C3;border-left:1px solid #C3C3C3;border-radius:0 0 5px 5px;border-right:1px solid #C3C3C3;margin-left:2px;width:321px;padding:25px;}
.loginContent,.loginContent *{float:left;}
.loginContent i,.loginContent p span{color:#696868;font-size:11px;}
.loginContent label{color:#014f76;font-size:14px;width:100%;padding:22px 0 5px;}
.loginContent input[type=text],.loginContent input[type=password],.loginContent select{width:310px;border:1px solid #d4d3d8;border-radius:5px;-khtml-border-radius:5px;behavior:url(PIE.htc);position:relative;color:#696868;-moz-border-radius:5px;-webkit-border-radius:5px;padding:5px;}
.loginContent select{width:322px;background-color:#fff;}
.loginContent input[type=submit],.loginContent a.blueBtn,.loginPopup input.blueBtn,.rightBtn .blueBtn,.rightSect input.blueBtn{width:84px;height:31px;font-size:13px;margin-top:30px;float:right;color:#fff!important;text-decoration:none!important;border:none;padding:3px 0;}
.loginContent input[type=checkbox]{margin:1px 5px 0 0;}
.loginContent p{padding:15px 0 0;}
.loginContent p span,.loginContent a{font-size:13px;}
.loginContent p span{width:188px;}
.loginContent a{color:#014be8;text-decoration:underline;}
.loginOuter{float:left;width:100%;margin:7% 0;}
.loginContent input[type=text],.loginContent input[type=password],.loginContent select,.loginContent,.content .rightSect .block .blockTitle,.innerCnt,.login .block,.showBox,.loginPopup input[type=password]{behavior:url(PIE.htc);position:relative;}
.loginSect,#footer p,.floatR{float:right!important;}
.loginOuter a.blueBtn,#manualBox{display:none;}
.loginBox .loginContent a.blueBtn{display:block;}
.loginPopup input[type=password]{font-weight:700;width:322px;background:#fff!important;margin:0 10px 0 0;}
.loginPopup,.extendPopup{color:#2c333d;}
.loginPopup input[type=checkbox]{width:20px!important;margin:0 4px 0 0;}
.loginPopup span{text-align:left;margin:5px 0;}
.loginPopup span a{color:#979797;font-weight:700;text-decoration:underline;margin-top:0!important;}
.loginPopup span small{font-size:13px!important;padding-right:4px;}
.blueBtn,.loginPopup input.blueBtn{background:url(../images/blue_btn.png) no-repeat scroll 0 0 transparent;color:#FFF;height:24px;width:31px;padding:6px 28px;}
.forgotPwd{float:right;clear:both;}
#footer ul li a,#footer p{color:#3c3c3c;font-family:Tahoma, Geneva, sans-serif;}
#modal .content,#modal .content .rightSect,#modal .content .rightSect .block,#modal .content .rightSect .block .innerCnt{width:450px;}
.content .rightSect{width:305px;font-size:13px;padding-top:13px;}
.updateSect #modal .content .rightSect .block{border:none!important;}
.content .rightSect .block .blockTitle,.tableOuter .blockTitle{border-radius:7px 7px 0 0;}
.content .rightSect .block .blockTitle{width:94%;padding:0 0 0 19px;}
.content .rightSect .block .blockTitle,.tableOuter .blockTitle,.login .blockTitle{background:url(../images/table-header-Repeat.png) repeat-x scroll 0 0 transparent;color:#FFF;display:block;font-size:15px;height:38px;width:95%;float:left;margin:-3px 5px 0 0;padding:0 5px 0 18px;}
.content .rightSect .block .blockTitle big{font-size:14px;padding:12px 3px 0;min-width: 185px;text-align:left;}
.tableOuter .blockTitle big,.content .rightSect .block .blockTitle big{float:left;font-size:14px;font-weight:700;padding:12px 10px 0;}
#modal .content .rightSect .block .innerCnt{border:2px solid #777;border-radius:0 0 5px 5px;border-top:0;background:#fff;color:#898989;width:447px!important;padding:0;}
#modal .content,#modal .content .rightSect,#modal .content .rightSect .block,#modal .content .rightSect .block .innerCnt{width:450px;}
#modal .updateTkt .updateSect{width:440px;padding:15px 10px;}
.showBox{background:#fdfce7;border:1px solid #e8e7af;border-radius:5px;width:405px;color:#9d9646;text-align:left;padding:5px 10px;}
#modal .updateTkt .updateSect input[type=checkbox]{text-align:center;width:10px!important;float:none;background-color:transparent;border:0!important;}
.tableOuter .blockTitle img,.content .rightSect .block .blockTitle img{float:left;margin:7px 0 0;}
#modal .content .rightSect .block .blockTitle{width:96%;}
.blockTitle small,.rightSect .block a.more{float:right;padding-top:3px;}
.innerCnt{width:646px;float:left;border:1px solid #dadada;margin-bottom:20px;font-size:13px;border-radius:0 0 5px 5px;padding:5px 2px 20px 3px;}
#modal .content .rightSect .block .blockTitle img{margin-top:13px!important;}
.updateTkt .updateSect input,.updateTkt .updateSect select{border:1px solid #dadada;border-radius:5px;width:828px;background-color:#fff;padding:5px;}
.loginPopup input[type=password]{font-weight:700;width:322px;background:#fff!important;margin:0 10px 0 0;}
.loginContent input[type=submit],.loginContent a.blueBtn,.loginPopup input.blueBtn,.rightBtn a.blueBtn,.rightSect input.blueBtn{width:84px;height:31px;font-size:13px;margin-top:30px;float:right;color:#fff!important;text-decoration:none!important;border:none;padding:3px 0;}
.loginContent a.blueBtn{text-align:center;font-size:14px;margin-top:18px!important;padding:6px 0;}
.updateTkt *{float:left;}
.updateSect select,.updateTkt .updateSect input{font-weight:700;color:#979797;height:25px;background-color:#fff;}
.updateTkt .updateSect input,.configEdit input[type=radio],.serviceDesk .searchSect.selectDate input,#configScroll input[type=text]{height:18px;}
.updateSect{font-size:13px;width:96%;padding:5px 20px;}
.content .rightSect .block .blockTitle{width:94%;padding:0 0 0 19px;}
.loginPopup input.blueBtn{border:medium none;height:30px!important;margin-top:0;padding-top:2px;}
.updateTkt .updateSect input{height:18px;}
.loginPopup span input[type=checkbox]{float:left!important;}
.updateSect{font-size:13px;width:96%;padding:5px 20px;}
.modalBoxBodyContent .updateSect,.siteBtn{float:left;}
#modal{border:1px solid #666;background-color:#fff;font-size:150%;text-align:center;left:32%!important;width:500px;padding:5px 5px 20px;}
.updateSect #modal{background:none!important;float:left;}
div#modalBox div#modalBoxBody div.modalBoxBodyContent #modal{border:0;}
.loginBox .loginContent span.errMsg{font-size:12px;font-weight:700;text-align:center;width:100%;margin:10px 0!important;color:red;}
.rightSect .block a{color:#3E3E3E;}
