/***************************
****************************
CSS For Global Use
****************************
***************************/
*, :focus, a:active {
	border:0;
	outline:none !important;
}
html {
	max-width:   100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	margin-bottom: 50px;
}
/*
.footer {
	background-color: #000;
	bottom: 0;
	color:#fff;
	height: 50px;
	padding:15px 0;
	position:absolute;
	text-align:center;
	width: 100%;
} */
.container {
	width: 100% !important;
}
/***************************
****************************
CSS For Header
****************************
***************************/
.navbar {
	border: 0 none;
	border-radius: 0;
	margin: 0;
	z-index: 2;
}
#topbar {
	background:#fafafa;
}
.navbar-brand {
	height: 43px;
	line-height: 43px;
	padding: 6px 28px;
	text-align: center;
}
a.navbar-brand {
	left: 15px;
	position: absolute;
	width: 14.422%;
}
.navbar #search {
	background:#fff;
	border:1px solid #d7d7d7;
	border-radius: 0px;
	height: 28px;
	margin: 13px 0 10px 11%;
	padding:1px;
	position: relative;
}
.navbar #search input {
	background: none;
	border: 0 none;
	color: #333;
	font-size: 14px;
	margin:1px 0 0 5px;
	width: 85%;
}
.navbar #search i {
	color: white;
	position: absolute;
	right: 1px;
	top: 1px;
}
.custom-search {
	background:#62b0c4;
	cursor:pointer;
	padding:6px 20px;
}
.header-nav {
	background: none !important;
	color: #fff !important;
	margin-right:30px;
	padding: 0;
	position: relative;
}
.header-nav ul li {
	border-left:1px solid #dfdfdf;
	height:53px;
}
.header-nav .btn {
	background: none;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	text-align: center;
}
.header-nav a.btn {
	background: none;
	border-radius: 0;
	color: #868686 !important;
	display:block;
	position: relative;
	text-shadow: none !important;
	width: 72px;
}
.header-nav a.btn:hover {
	background:#fff;
}
.header-nav a.btn .number {
	background:#F00;
	color:#fff;
	border-radius:2px;
	font-size: 12px;
	line-height:16px;
	padding:0px 8px;
	position: absolute;
	right: 6px;
	top: 5px;
}
.header-nav a.btn.account {
	background: #fff;
	border-right:1px solid #dfdfdf;
	font-size:16px;
	height: 53px;
	margin: 0;
	padding: 8px 10px 5px 10px !important;
	width: auto;
}
.header-nav a.btn.account .avatar {
	float: right;
	width: 80px;
}
.header-nav .user {
	display: inline-block;
	margin-top: -5px;
	padding: 0;
	text-align: left;
}
.header-nav .user .hello, .header-nav .user .name {
	display: block;
	font-size: 10px;
	font-weight: bold;
}
.header-nav .user .name {
	margin-top: -2px !important;
}
.header-nav a.btn.account .avatar img {
	border-radius:10px;
	height: 40px;
	margin: -5px 0px 0px 10px;
	width: 40px;
	float:left;
}
.fa-fw {
	float:right;
	font-size:22px;
	margin-top:8px !important;
}
.dropdown-menu {
	background: white;
	border:none;
	border-radius: 0;
	display: none;
	float: left;
	left:auto;
	list-style: outside none none;
	margin: 0;
	max-width: 450px;
	min-width: 166px;
	padding: 0;
	position: absolute;
	right: 0 !important;
	text-shadow: none;
	top: 99%;
	z-index: 1000;
}
.dropdown-menu-title {
	background:#fff;
	color: #4dc4de;
	display: block;
	font-size:16px;
	padding: 10px;
}
.header-nav .dropdown-menu li {
	border-bottom: 1px solid #e9ebec;
	height:auto;
	position:relative;
}
ul.notifications li, ul.tasks li {
	min-width: 260px;
}
.dropdown-menu li a {
	clear: both;
	color: #919191;
	display: block;
	font-size:14px;
	font-weight: normal;
	line-height: 20px;
	overflow:auto;
	padding:10px !important;
	white-space: normal !important;
}
ul.tasks li .title {
	color:#000;
}
ul.tasks li .time {
	color:#8d8d8d;
}
.dropdown-menu li:last-child {
	border-bottom: 0 none !important;
}
.dropdown-menu-sub-footer {
	background:#e9ebec;
	cursor: pointer;
	text-align: center;
}
.top-icon {
	background-image:url(../images/top_sprite.png);
	background-repeat:no-repeat;
	display:-moz-inline-box; /* for Firefox 1.5 & 2 */
	display:inline-block;
	height:22px !important;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.assign_icon {
	background-position:0 0;
	width:26px;
}
.notif_icon {
	background-position:-26px 0;
	width:32px;
}
.action_icon {
	background-position:-58px 0;
	width:24px;
}
.help_icon {
	background-position:-82px 0;
	width:15px;
}
.user-avtar {
	float:left;
}
.login-user {
	margin-left:95px;
	padding:10px 15px;
}
.login-user h4 {
	color:#1d6575;
	font-size:14px;
	font-weight:bold;
}
a.edit-profile {
	color:#318091 !important;
	display:inline-block;
	position:absolute;
	right:5px;
	text-decoration:underline;
	top:2px;
}
a.edit-profile:hover {
	background:none !important;
	cursor:pointer;
}
.dropdown-menu-sub-footer .fa-sign-out {
	font-size:30px;
}
/***************************
****************************
CSS For Main Navigation
****************************
***************************/
#menu {
	background-color: #4cc4dd;
	border-bottom: 1px solid #368fa2;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#myTabs.nav-tabs {
	border:none!important;
}
#myTabs.nav-tabs > li > a {
	border:none;
	color: #fff;
	display: inline-block;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px;
	margin-top:15px;
	padding: 8px;
	text-decoration: none;
	text-transform:uppercase;
}
#myTabs.nav-tabs > li.active > a, #myTabs.nav-tabs > li.active > a:focus, #myTabs.nav-tabs > li.active > a:hover, #myTabs.nav-tabs > li > a:hover, #myTabs.nav-tabs > li > a:focus {
	background-color: white;
	border:none;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #4cc4dd;
	text-shadow: none;
}
/* css for set as my home page button */
.setscreenbtn {
	margin:10px 20px 0 0;
}
.css-checkbox {
	border:0;
	clip: rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow: hidden;
	padding:0;
	position: absolute;
	width:1px;
}
.css-checkbox + label.css-label {
	background-color:#fafafa;
	background-position: 0 -25px;
	background-repeat:no-repeat;
	cursor:pointer;
	display:inline-block;
	font-size:15px;
	font-weight:normal;
	height:30px;
	line-height:30px;
	padding-left:30px;
	padding-right:20px;
	vertical-align:middle;
	width:100%;
}
.css-checkbox:checked + label.css-label {
	background-position: 0 0;
}
.lite-blue-check {
	background-image:url(../images/chkbxnew.jpg);
}
.css-checkbox.med + label.css-label.med {
	background-position: 0 0;
	background-repeat:no-repeat;
	cursor:pointer;
	display:inline-block;
	font-size:30px;
	height:30px;
	line-height:30px;
	padding-left:22px;
	vertical-align:middle;
}
.css-checkbox.med:checked + label.css-label.med {
	background-position: 0 -30px;
}
.css-checkbox.sme + label.css-label.sme {
	background-position: 0 0;
	background-repeat:no-repeat;
	cursor:pointer;
	display:inline-block;
	font-size:15px;
	height:16px;
	line-height:16px;
	padding-left:22px;
	vertical-align:middle;
}
.css-checkbox.sme:checked + label.css-label.sme {
	background-position: 0 -16px;
}
.css-checkbox.lrg + label.css-label.lrg {
	background-position: 0 0;
	background-repeat:no-repeat;
	cursor:pointer;
	display:inline-block;
	font-size:15px;
	height:20px;
	line-height:20px;
	padding-left:22px;
	vertical-align:middle;
}
.css-checkbox.lrg:checked + label.css-label.lrg {
	background-position: 0 -20px;
}
/***************************
****************************
CSS For Ribbon Tab Menu
****************************
***************************/
.subtab_area {
	border-bottom:1px solid #d4d4d4;
	min-height:20px;
	overflow:auto;
	position:relative;
}
ul.subtab {
	border:none;
	float:left;
	list-style:none;
	margin:0;
	overflow:auto;
	padding:0;
}
ul.subtab li {
	float:left;
	margin:10px 0 5px 0;
	min-height:58px;
	padding:1px 5px;
}
ul.subtab li a {
	background: rgba(255, 255, 255, 1);
	background-clip: padding-box;
	border: double 3px rgba(255, 255, 255, 1);
	color:#6e6e6e;
	display:inline-block;
	font-size:12px;
	padding:4px;
	text-align:center;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}
ul.subtab li a:hover, ul.subtab li a.active, ul.subtab > li.active > a, ul.subtab > li.active > a:focus, ul.subtab > li.active > a:hover {
	background: rgba(244, 100, 92, 1);
	background-clip: padding-box;
	border: double 3px rgba(244, 100, 92, 1);
	color:#fff;
	padding:4px;
	text-decoration:none;
}
.sprite {
	background-image:url(../images/sprite.png);
	background-repeat:no-repeat;
	display:-moz-inline-box; /* for Firefox 1.5 & 2 */
	display:inline-block;
	height:24px !important;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.icon1 {
	background-position:0 0;
	width:18px;
}
ul.subtab li a:hover .icon1, ul.subtab li a.active .icon1, ul.subtab > li.active > a .icon1, ul.subtab > li.active > a:focus .icon1, ul.subtab > li.active > a:hover .icon1 {
	background-position:0 -24px;
}
.icon2 {
	background-position:-18px 0;
	width:26px;
}
ul.subtab li a:hover .icon2, ul.subtab li a.active .icon2, ul.subtab > li.active > a .icon2, ul.subtab > li.active > a:focus .icon2, ul.subtab > li.active > a:hover .icon2 {
	background-position:-18px -24px;
}
.icon3 {
	background-position:-44px 0;
	width:22px;
}
ul.subtab li a:hover .icon3, ul.subtab li a.active .icon3, ul.subtab > li.active > a .icon3, ul.subtab > li.active > a:focus .icon3, ul.subtab > li.active > a:hover .icon3 {
	background-position:-44px -24px;
}
ul.ribbon-right-link {
	list-style:none;
	margin:25px 80px 0 0;
	overflow:auto;
}
ul.ribbon-right-link li {
	float:left;
	margin-right:10px;
}
ul.ribbon-right-link li a {
	color:#333;
	font-size:18px;
}
.toggle-arrow,.toggle-arrow1{
	position:absolute;
	right:50px;
	top:30px;
	cursor:pointer;
	}
.toggle-arrow1{	
	top:1px;
	}
