.newsubcuarea { 
	border:solid 1px #e8e8e8;
	margin:10px 10px 10px 50px;
	Padding:10px !important;
	font-size:14px;
	
	}
.subaddarea {
	padding:10px !important;
	}
.subcompanyname {
	color:#a5a5a7;
	font-size:20px;
	}
.subfadefont {
	color:#a5a5a7;
	}
.subdivider {
	display:block;
	}
.subbtnarea {
	margin:20px;
	}
.btn-edityellow {
  color: #fff;
  background-color: #ffd02c;
  border-color: #eea236;
  }

.subdetailstable {
	border:solid 1px #e8e8e8; 
	background-color:#4cc4dd;
	margin-left:50px; margin-right:-49px; 
	color:#fff;
	font-size:16px;
	}
 .subright-sep {
  border-right:1px dotted #fff;
  }
.subdetailsspan {
	display:block; 
	padding:10px;
	}
.subpadding20 { 
	padding:20px;
	}
.subdetailstabledtls{
	border:solid 1px #e8e8e8;  
	margin-left:50px; margin-right:-49px; 
	font-size:14px;
	padding:7px;
	color:#a5a5a7;
	}
.subrightline-sep {
	border-right:1px solid #e8e8e8;
  }
.subdtlarea{
	padding: 25px 0 25px 0;
	}
.subpricearea  {
	padding:20px;
	text-align: center; 
	}
.subprice input[type=number]:enabled {
    background:#fff;
	color:#000;
	font-size:20px;
	padding:5px;
	border:solid 1px #959595 !important;
}

.subprice input[type=number]:disabled {
    background:#fff !important;
	border:none;
	color:#000;
	font-size:20px;
}
.subprice input[type=number]:focus, a:active {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size:20px;
 
}
.subprice input[type=number]:focus, a:active { 
  outline: none !important;
  border: 1  !important;;
}
.subviewlink {
	font-size:12px;
	color:#2a92a8;
	}
.subviewlink  a{
	font-size:12px;
	color:#2a92a8;
	} 
.submodalhd {
	color:#4cc4dd;
	border-bottom: 1px solid #e8e8e8;
	}
.adminamearea {
	line-height:1.9
	}
.submodelhead {
	 border-bottom:1px #e8e8e8 solid;
	 color:#4cc4dd;
	 }