.one-nav-wizard > li {
  float: left;
  font-size: 18px; 
  margin-top:7px;
  margin-bottom:7px;
  text-align:left;
  width:300px;
}
.one-nav-wizard > li + li {
  margin-left: 2px;
}
.one-nav-wizard > li > a { 
  cursor: default;
  color: #616161;
}
.one-nav-wizard > li > a,
.one-nav-wizard > li > a:hover,
.one-nav-wizard > li > a:focus {
  background-color: transparent;
}
.one-nav-wizard > li > a > .badge {
  margin-left: -35px;
  font-size: 18px;
  padding: 8px 12px;  
}
/* active = current wizard step */
.one-nav-wizard > li.active > a,
.one-nav-wizard > li.active > a:hover,
.one-nav-wizard > li.active > a:focus {
  color:#fff;
  background-color: #4cc4dd;
  display:block;
  /* padding:10px 127px 11px 10px; */
  width:300px;
  text-align: left;
  border-radius:0;
}
.one-nav-wizard > .active > a > .badge {
  color: #ffffff;
  background-color: #4cc4dd;
  font-size:18px;
}
/* success = completed wizard step */
.one-nav-wizard > li.success > a,
.one-nav-wizard > li.success > a:hover,
.one-nav-wizard > li.success > a:focus {
  color: #616161;
  background-color: transparent;
}
.one-nav-wizard > .success > a > .badge {
  color: #ffffff;
  background-color: #78c575;
}

 