.locationarea { 
	margin:10px; 
	padding:10px;
	border:1px solid #e8e8e8; 
	display:inline-block; 
	width:300px;
	}
.limagevertical {
	vertical-align:middle;
	}
.locationtxt {
	margin-left:10px;
	}
.changelocation {
	margin-left:10px;
	}
.reportgnrtxt {
	color:#4cc4dd;
	font-size:25px; 
	font-weight:normal
	}
.reportgnrtxtsml {
	color:#616161; 
	font-size:14px;
	} 