.subsstep{
	margin-top:2px;
	background-color:#f4f4f4;  
	text-align:center;
 
	}
.paid {display:inline-block!important;}
.addcheck{margin:0!important;text-align:center;}

.formselectarea { margin-top:10px; margin-bottom:20px;}	

.formclic {
    background:#77cfe5;
	padding:10px;
	color:#fff;
}
.formclic.highlight {
    background:#609fb0; 
	color:#fff;
}

.formselecting {
	display:inline-block; 
	padding:5px 20px 5px 10px;
	font-size:14px; 
	border-radius:2px
	}
.subscriptionformbody {
	color:#3c9ab6;
	font-size:14px;	
	}
.formfullbg { 
	background-color:#f4f4f4;  
	padding:10px;
	font-size:16px;
	padding-left:30px;
	}
.formadd {
	padding-left:10px; font-size:12px; color:#000;
	}
.marginrlt20 {
	margin-right:20px;
	margin-left:20px;
	}
.marginrlt10 {
	margin-right:10px;
	margin-left:10px;
	}
.subnextform{
	border-radius: 0px;
	color: #ffffff;
	font-size: 14px;
	background: #4cc5dd !important;
	padding: 5px 9px 5px 9px;
	text-decoration: none;
	background: rgba(255, 255, 255, 1);
	background-clip: padding-box;
	transition: all 0.3s ease 0s;
	box-shadow: none !important;
	text-shadow: none;
	}
.subformtblalign {
	margin-left:25px;
  }
  
.selecting .subapp{font-size:14px;  padding-right: 6px;}
.subbtn{font-size:14px;padding:0px!important;border:0!important;}
.subTable{margin-top:20px;margin-bottom:15px;color:#A5B7B9}
.subTable td{border: 1px solid #EBEBEB;}
.dataTab{
	background-color: #eeeeee;
	color: #799892; 
	}
.marginrit20 { margin-right:20px; }
.paddingtop5 { padding-top:5px}
.commercialform{
	color:#6e6e70
	}
.dragUpload {
	text-align:center;
	background-color:#ededed;
	border:solid 1px #dfdfdf;
	padding:10px;
	margin-top:30px;
	}
/*billing address starts */
.scandetails p{color:#818181;margin-top: 10px;font-size: 14px;}
.billingaddr p{color:#818181;margin-top: 10px;font-size: 14px;}
.billing{color:#3295B3!important; font-size:16px;}
.subtablecontent{padding: 0px!important;}
.modTable{margin:0!important;}
.modTable p{color:#818181!important;}
.modTable h1{color:#818181!important;font-size:16px;}
.scnPanel{border:0!important;margin-top:15px!important}
.subBtn{margin-top:45px;}
.borderStylef {
	border-top:1px solid #e8e8e8; 
	border-left:1px solid #e8e8e8;
	}