
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
 

.navs>li>a>img{max-width:none}.navs-tabs{border-bottom:1px solid #ddd}
.navs-tabs>li{float:left;margin-bottom:-1px}.navs-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:1px 1px 0 0}.
.navs-tabs>li>a:hover{border-color:#eee #eee #ddd}.navs-tabs>li.active>a,.navs-tabs>li.active>a:focus,.navs-tabs>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}
.navs>li>a{position:relative;display:block;padding:10px 15px}.navs>li>a:focus,.navs>li>a:hover{text-decoration:none;background-color:#eee}.navs>li.disabled>a{color:#777}