body {
	background: url(../images/bodybg.jpg);
}

h3,h4 {
	color: #CBCBCA;
	font-family: Arial;
}

table {
	margin: auto;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: red;}

.table {
	border: 3px solid #CBCBCA;
	border-collapse: collapse;
	border-radius: 5px;
	margin: auto;
}

.tabletd {
	border: 2px solid #CBCBCA;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}

.error {
	color: red;
	font-size: 12px;
	font-family: "Arial";
}

.notif {
	position: absolute;
	min-height: 40px;
	width: 800px;
	top: 0px;
	left: 0px;
	padding: 10px;
	background: #FFFC89;
	border: 1px solid #8A8A8A;
	z-index: 999999999999999;
}

#toppane {
	background: url(../images/toppane.jpg) repeat;
	position: absolute;
	top: 5px;
	left: 0px;
	width: 100%;
	height: 175px;
	z-index: -99999;
}

#header {
	background: url(../images/headergradient.jpg) repeat;
	position: relative;
	top: -30px;
	border-radius: 15px;
	width: 1000px;
	height: 120px;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	background: url(../images/logo.jpg) no-repeat;
	position: absolute;
	top: 35px;
	left: 40px;
	width: 168px;
	height: 66px;
	z-index: 99999;
}

#userbox {
	background: #55595c;
	border-radius: 10px;
	position: absolute;
	top: 35px;
	right: 10px;
	width: 300px;
	max-width: 300px;
	max-height: 70px;
	z-index: 99999;
	color: #d1d1d1;
	padding: 5px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

#tabs {
	background: transparent;
	position: relative;
	top: 0px;
	width: 1000px;
	height: 55px;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
}

.tab_active {
	background: #f9fafc;
	position: relative;
	float: left;
	top: 0px;
	border-top: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	width: 166px;
	height: 55px;
	z-index: 101;
	text-align: center;
	color: black;
	font-family: Arial;
	font-size: 16px;
}

.tab_inactive {
	background: -moz-linear-gradient(top, #15A3EF, #0085CC);
	background: -webkit-gradient(linear, left top, left bottom, from(#15A3EF),
		to(#0085CC) );
	position: relative;
	float: left;
	top: 5px;
	border-top: 1px solid #026DA6;
	border-left: 1px solid #026DA6;
	border-right: 1px solid #026DA6;
	border-bottom: 2px solid #026DA6;
	width: 164px;
	text-align: center;
	color: #f9fafc;
	font-family: Arial;
	font-size: 16px;
	text-shadow: 0px 0px 1px #026DA6;
	height: 50px;
	z-index: 101;
	transition: top 1s;
	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	-o-transition: top 1s;
}

.tab_inactive:hover {
	top: 0px;
	height: 55px;
}

#maincontent {
	background: #f9fafc;
	position: relative;
	top: 0px;
	width: 1000px;
	min-height: 900px;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	box-shadow: 0px 5px 5px #888888;
	padding: auto;
	overflow: auto;
}

#right_content {
	background: transparent;
	position: absolute;
	top: 50px;
	right: 0px;
	width: 250px;
	height: 600px;
	z-index: 101;
}

#left_content {
	background: white;
	position: absolute;
	top: 50px;
	left: 25px;
	width: 700px;
	min-height: 200px;
	z-index: 101;
	text-align: justify;
	color: #616163;
	font-family: Sans;
	font-size: 11px;
	padding: 5px;
	border-radius: 3px;
	clear: both;
}

.right_content_header {
	background: -moz-linear-gradient(top, #afd4e4, #8bbbd1);
	background: -webkit-gradient(linear, left top, left bottom, from(#afd4e4),
		to(#8bbbd1) );
	position: relative;
	top: 0px;
	float: down;
	max-width: 250px;
	max-height: 50px;
	z-index: 102;
	border: 1px solid #6b9aaa;
	box-shadow: 0px 0px 3px #cac7c7;
	text-align: left;
	color: #f9fafc;
	font-family: Lucida Console;
	font-size: 16px;
	padding: 20px;
	text-shadow: 0px 0px 1px #81a5b5;
}

.right_content_body {
	background: transparent;
	position: relative;
	top: 0px;
	text-align: center;
	float: down;
	max-width: 250px;
	max-height: 150px;
	z-index: 102;
	color: #616163;
	font-family: Lucida Console;
	font-size: 14px;
	padding: 20px;
	box-shadow: 0px 0px 3px #cac7c7;
}

.button {
	background: -moz-linear-gradient(top, #15A3EF, #0085CC);
	background: -webkit-gradient(linear, left top, left bottom, from(#15A3EF),
		to(#0085CC) );
	position: relative;
	top: 10px;
	margin: 10px 5px 10px 5px;
	float: down;
	max-width: 200px;
	max-height: 50px;
	z-index: 102;
	box-shadow: 0px 0px 3px #cac7c7;
	text-align: center;
	color: #f9fafc;
	font-family: Arial;
	font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	text-shadow: 0px 0px 1px #81a5b5;
	transition: background 2s;
	-moz-transition: background 2s;
	-webkit-transition: background 2s;
	-o-transition: background 2s;
}

.button:hover {
	border: 3px solid #15A3EF;
	background: white;
	color: #15A3EF;
}

.button_disabled {
	background: -moz-linear-gradient(top, #ABACAC, #9D9E9E);
	background: -webkit-gradient(linear, left top, left bottom, from(#ABACAC),
		to(#9D9E9E) );
	position: relative;
	top: 10px;
	margin: 10px 5px 10px 5px;
	float: down;
	max-width: 200px;
	max-height: 50px;
	z-index: 102;
	box-shadow: 0px 0px 3px #cac7c7;
	text-align: center;
	color: #DBDCDC;
	font-family: Arial;
	font-size: 18px;
	padding: 10px;
	border-radius: 10px;
	text-shadow: 0px 0px 1px #81a5b5;
}

.left_plan_content {
	background: #f9fafc;
	position: relative;
	width: 600px;
	height: 250px;
	z-index: 1000;
	color: #616163;
	font-family: Lucida Console;
	font-size: 14px;
	box-shadow: 0px 0px 3px #cac7c7;
}

.plan_name {
	background: -moz-linear-gradient(top, #15A3EF, #0085CC);
	background: -webkit-gradient(linear, left top, left bottom, from(#15A3EF),
		to(#0085CC) );
	position: relative;
	position: relative;
	float: left;
	top: 5px;
	max-width: 100px;
	height: 180px;
	z-index: 999999;
	color: #f9fafc;
	font-family: Sans;
	font-size: 18px;
	padding: 20px;
}

.plan_desc {
	background: #f9fafc;
	position: relative;
	position: relative;
	float: left;
	top: 5px;
	max-width: 450px;
	max-height: 180px;
	z-index: 999999;
	color: #616163;
	font-family: Lucida Console;
	font-size: 14px;
	padding: 20px;
}

#footer {
	bottom: 10px;
	max-height: 50px;
	width: 100%;
	left: 0px;
	background: url(../images/toppane.jpg) repeat;
	border: 1px solid black;
	color: #f9fafc;
	font-family: Arial;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	z-index: 9999999999;
	text-shadow: 0px 0px 1px #81a5b5;
}

/*  -----------------------Account Template------------------------------         */
#right_content_account {
	background: transparent;
	border: 1px solid #CBCBCA;
	position: relative;
	top: 50px;
	right: 50px;
	width: 700px;
	z-index: 101;
	padding: auto;
	border-radius: 5px;
	float: right;
}

#bottom_content_account {
	background: transparent;
	position: relative;
	top: 60px;
	width: 970px;
	z-index: 101;
	padding: auto;
	border-radius: 5px;
	float: right;
}

.comment_account {
	background: transparent;
	border: 1px solid #CBCBCA;
	position: relative;
	top: 0px;
	width: 850px;
	z-index: 101;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #8B8B8B;
	font-family: Arial;
	font-size: 12px;
	border-radius: 5px;
	margin: 20px;
	clear: both;
}

hr {
	color: #CBCBCA;
	background: #CBCBCA;
	border: 1px solid #CBCBCA;
}

#left_content_account {
	background: transparent;
	border: 1px solid #CBCBCA;
	position: relative;
	top: 50px;
	left: 25px;
	width: 150px;
	min-height: 150px;
	z-index: 101;
	text-align: justify;
	color: black;
	font-family: Sans;
	font-size: 16px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	float: left;
}

#content_sm {
	background: transparent;
	border: 1px solid #CBCBCA;
	position: relative;
	margin: auto;
	top: 50px;
	width: 900px;
	z-index: 101;
	padding: auto;
	font-family: Arial;
	font-size: 16px;
	border-radius: 5px;
}

#overlay {
	background-color: black;
	filter: alpha(opacity = 50); /* IE */
	opacity: 0.5; /* Safari, Opera */
	-moz-opacity: 0.50; /* FireFox */
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999999999999998;
}

#content {
	position: relative;
}

#image1 {
	margin-left: 140px;
}

.left_content_header {
	background: -moz-linear-gradient(top, #afd4e4, #8bbbd1);
	background: -webkit-gradient(linear, left top, left bottom, from(#afd4e4),
		to(#8bbbd1) );
	position: relative;
	top: 0px;
	float: down;
	width: 600px;
	max-height: 80px;
	z-index: 102;
	border: 1px solid #6b9aaa;
	box-shadow: 0px 0px 3px #cac7c7;
	text-align: left;
	color: #f9fafc;
	font-family: Lucida Console;
	font-size: 16px;
	padding: 20px;
	text-shadow: 0px 0px 1px #81a5b5;
}

.left_content_body {
	background: transparent;
	position: relative;
	top: 0px;
	text-align: center;
	float: down;
	width: 600px;
	max-height: 750px;
	z-index: 102;
	color: #616163;
	font-family: Lucida Console;
	font-size: 8px;
	padding: 20px;
	box-shadow: 0px 0px 3px #cac7c7;
}

.trans {
	background: transparent;
	position: relative;
	top: 5px;
	text-align: left;
	float: down;
	width: 550px;
	max-height: 150px;
	z-index: 102;
	color: #616163;
	font-family: Lucida Console;
	font-size: 14px;
	padding: 20px;
	box-shadow: 0px 0px 3px #cac7c7;
}