@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src='@Url.Content("~/Charts/js/dashboard.js")'></script>
</head>
<body>


    <div class="card-deck bg-secondary py-2">

        <div class="card text-primary border-primary">
            <div class="card-header">Management System Summary</div>
            <div class="row">
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-danger">
                        <h5 id="empcnt" class="card-tite"></h5>
                        <p class="card-text">Active Employees</p>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-success">
                        <h5 id="auditcnt" class="card-tite"></h5>
                        <p class="card-text">Internal Audits</p>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-primary">
                        <h5 id="nccnt" class="card-tite"></h5>
                        <p class="card-text">Open NCs</p>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-warning">
                        <h5 id="riskcnt" class="card-tite"></h5>
                        <p class="card-text">Identified Risks</p>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-success">
                        <h5 id="doccnt" class="card-tite"></h5>
                        <p class="card-text">No of documents</p>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-success">
                        <h5 id="custcnt" class="card-tite"></h5>
                        <p class="card-text">No of Customers</p>
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card text-white text-center card-body h-100 bg-success">
                        <h5 id="supcnt" class="card-tite"></h5>
                        <p class="card-text">Approved Suppliers</p>
                    </div>
                </div>
            </div>




        </div>
        <div class="card text-primary border-primary">
            <div class="card-header">
                Non Conformances(By Department)
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="ncchart"></div>
                </div>
            </div>
        </div>
        <div class="card text-primary border-primary">
            <div class="card-header">
                Documents(By Document Type)
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="docchart"></div>
                </div>
            </div>
        </div>


    </div>



    <div class="card-deck bg-secondary py-2">

        <div class="card border-primary">
            <div class="card-header">Summary</div>
            <div class="row">
                <div class="col-sm-6 py-2">
                    <div class="card card-body h-100 bg-danger">
                        Active Employees
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card card-body h-100 bg-success">
                        Internal Audits
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card card-body h-100 bg-primary">
                        Open NCs
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card card-body h-100 bg-warning">
                        Identified Risks
                    </div>
                </div>
                <div class="col-sm-6 py-2">
                    <div class="card card-body h-100 bg-success">
                        No of documents
                    </div>
                </div>
            </div>




        </div>
        <div class="card text-primary border-primary">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id=""></div>
                </div>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id=""></div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>
@section Scripts {
    <script src='@Url.Content("~/global_assets/js/plugins/forms/validation/validate.min.js")'></script>

    @Scripts.Render("~/bundles/jqueryval")
}