<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <table>
        <tr>
            <td>
                <!--    <img src="" style="width:250px; height:60px;" />
                     <br />
                     <br />-->

                <!--<div style="border-top: 3px solid #22BCE5;"></div>-->

                <!--<span style="font-family: Arial; font-size: 10pt"><b>{FromMsg}</b></span><br />-->

                <span style="font-family: Arial; font-size: 10pt">
                    <b>Dear Sir\Madam</b><br />
                    <br />

                    <a style="color: #22BCE5">{Title}</a><br />

                    <br />
                    <table class="table">
                        {content}
                    </table>
                    {message}
                    <br />
                    {extramessage}
                    <br />


                    Best Regards,<br />
                    <b>MSME </b>

                    <br />
                    For more information please sign on to <a href="https://e-msme.com/ohpl/">MSME </a>

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 