<html style=" background-image: url(/Images/bg.png); background-repeat: no-repeat; background-size: cover;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to MANAL</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  
     <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
	
	<link href="/Content/site.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">   
    <link href="/Content/css/style.css" rel="stylesheet">
</head>
<body style=" background-image: url(/Images/bg.png); background-repeat: no-repeat; background-size: cover;">
         <div class="col-md-6 col-md-offset-3" style="text-align: center;">
                        <div class="panel panel-default" style="margin-top: 75px;">
            <div class="panel-body">
                <div class="text-center">
                    <img style="margin-left: -22px; width: 128px; height: 45px;" src='/Images/ManalLogo.png' />
                </div>
               
                <br />
                <div style="text-align: center;">
                    <img src="/Images/dialog_cancel.png" />
                    <hgroup class="title" style="text-align: center;">
                        <h1 class="error">Error.</h1>
                        <h2>Access Denied, Sorry for Inconvinence.</h2>

                    </hgroup>
                    <p>Please Login and try again or contact Administrator for further help.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">&copy;2016 AL MANAL MANAGEMENT SYSTEM. All rights reserved </footer>
</body>
</html>