@using System.Data;
@{
    ViewBag.Title = "GetRating";
    Layout = null;

    DataSet dsRating = new DataSet();
    if (ViewBag.dsRating != null)
    {
        dsRating = ViewBag.dsRating;
    }
}

<div>
    @if (dsRating != null && dsRating.Tables.Count > 0 && dsRating.Tables[0].Rows.Count > 0)
    {
        <table class="table table-lg">
            <tr class="row">
                <th style="background-color: #d0f1ef; text-align: center;">Rating</th>              
            </tr>
            @for (int m = 0; m < dsRating.Tables[0].Rows.Count; m++)
            {
                <tr class="row">
                    <td @*class="col-xs-3 col-md-2"*@>
                        @dsRating.Tables[0].Rows[m]["RatingOptions"].ToString()
                    </td>                   
                </tr>
            }
        </table>
    }
</div>