
@{
    ViewBag.Title = "QuotationPrint";
    Layout = null;
}

<h2>QuotationPrint</h2>

<style>
    table tr td {
        /*border-collapse: collapse;*/
        border: 1px solid black;
    }
</style>
<div>
    <table>
        <tr>
            <td>
                <img style="width:250px; height:70px;" src='@Url.Content("~/Images/companylogo.png")' />
            </td>
        </tr>
    </table>
</div>
