@{
    ViewBag.Title = "InternalAuditNCReport";
}

<div class="groupedassets margin10">
    <span class="groupedassetshead margin10 onestphdcolor">Internal Audit NC Report </span>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TrainingsModels</legend>
        <table id="tabcontent">
            <tr>                
                <td>
                    <div class="editor-label">
                        Audit Num
                    </div>
                </td>
                <td >
                    <div class="editor-field">
                        <input type="text" id="AuditNum" name="AuditNum" required />

                    </div>
                </td>
                 <td>
                    <div class="editor-label">
                        Department
                    </div>
                </td>
                <td >
                    <div class="editor-field">
                        <select id="DeptId" name="DeptId" required="">
                                @*@foreach (ISOStd.Models.Employee item in ViewBag.EmpLists)*@
                                @foreach (var item in ViewBag.DeptList)
                                {
                                    <option value='@item.Value'>@item.Text</option>
                            }
                            </select>
                    </div>  
                </td>
            </tr>
            </table>
            </fieldset>
    <div style="width:100%; text-align: center;">
        <input type="submit" value="Create" />
</div>
}
    