@{
    ViewBag.Title = "GenerateMasterListDoc";
}


<fieldset>
    <legend>Master List of Document</legend>

    <div id="divHeader" style="width: 50%; vertical-align: middle;">
        <table>
            <tr>
                <td>
                    <div id="logo">
                        <img src="~/Images/ManalLogo.png" /></div>
                </td>
                <td style="text-align: center; font-weight: bold;">
                    <span>Manal Managment System</span>
                    <br />
                    <span>Master List of Management System Documents‎</span>
                </td>
            </tr>
        </table>


    </div>
    <br />
    <div class="editor-label">
        <label for="Levels" style="background-color: #4cc4dd; width: 100%; color: white; padding-left: 5px; text-align: center;">Level1</label>
    </div>
    <table id="tableReport">
        <tr>
            <th>Doc‎. ‎Ref‎.‎</th>
            <th>Document Name‎‎</th>
            <th>Issue ‎No‎.‎‎</th>
            <th>Rev‎. No‎.‎‎</th>
            <th>Document‎ Date‎</th>
            <th>Responsible person to Handle‎‎</th>
        </tr>
        <tr>
            <td>rgd1</td>
            <td>bdfcxvx</td>
            <td>etrgdfvx1</td>
            <td>ffsdfdsf1</td>
            <td>2/6/2016</td>
            <td>Aneesh Murthy</td>
        </tr>
    </table>
</fieldset>   