@using System.Data
@{
    Layout = null;
    DataSet dsAuditee = ViewBag.objAudit;
    ISOStd.Models.clsGlobal obj = new ISOStd.Models.clsGlobal();
}

<div class="card alpha-success border-success">
    <div class="card-header bg-info text-white">
        <h4 class="text-center">Auditee List</h4>
       
    </div>

    <div class="card-body">
      
        <table class="table table-bordered table-striped table-hover datatable-responsive">
            <thead>
                <tr class="bg-brown">
                    <th>Auditee Name</th>
                    <th>Status</th>
                    <th>Confirmed Date</th> 
                    <th>Comments</th>          
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < dsAuditee.Tables[0].Rows.Count; i++)
                {

                    <tr>
                        <td>
                            @obj.GetEmpHrNameById(dsAuditee.Tables[0].Rows[i]["auditee"].ToString())
                        </td>
                        <td>
                            @(dsAuditee.Tables[0].Rows[i]["apprv_status"].ToString())
                        </td>
                        <td>
                            @if (dsAuditee.Tables[0].Rows[i]["apprv_date"].ToString() != "" && dsAuditee.Tables[0].Rows[i]["apprv_date"].ToString() != null)
                            {
                                @Convert.ToDateTime(dsAuditee.Tables[0].Rows[i]["apprv_date"].ToString()).ToString("dd/MM/yyyy hh:mm:ss")
                            }
                        </td>  
                        <td>
                            @(dsAuditee.Tables[0].Rows[i]["comments"].ToString())
                        </td>                   
                    </tr>
                }
            </tbody>
        </table>


       
    </div>

</div>



