@using System.Data

@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    DataSet dsCompany = new DataSet();
    if (ViewBag.CompanyInfo != null)
    {
        dsCompany = ViewBag.CompanyInfo;
    }
    var date=DateTime.Today;
}

    <div style="background-color:white">
        <div>
            <table class="table table-sm table-bordered">
                <tr class="row">
                    <td class="font-size-lg font-weight-bold">

                        <img src="@Url.Content(dsCompany.Tables[0].Rows[0]["logo"].ToString())" style="width: 150px;height: 100px;" />

                    </td>
                    <td class="font-size-lg font-weight-bold" style="text-align: center; font-weight: bold; width: 80%;" colspan="3">
                        <h1>@dsCompany.Tables[0].Rows[0]["CompanyName"].ToString()</h1>
                        <br />
                        <h3>@dsCompany.Tables[0].Rows[0]["City"].ToString()</h3>
                    </td>
                </tr>
                <tr class="row">
                    <td class="font-size-lg font-weight-bold text-center" colspan="4" style="font-weight: bold;">
                        <h2>@dsCompany.Tables[0].Rows[0]["report"].ToString()</h2>
                    </td>
                </tr>                    
            </table>
        </div>
    </div>